<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="alien" class="com.onkar.Alien" scope="prototype"></bean>-->

    <bean id="alien" class="com.onkar.Alien" autowire="byType">

       <!-- <constructor-arg value="23"></constructor-arg>
        <constructor-arg ref="lap"></constructor-arg>-->

        <!--<constructor-arg index="0" value="34"></constructor-arg>
        <constructor-arg index="1" ref="lap"></constructor-arg>-->

       <!--<property name="age" value="21"></property>
        <property name="laptop" ref="lap"></property>-->

        <property name="age" value="41"></property>
        <property name="com" ref="com"></property>
    </bean>

    <bean id="lap" class="com.onkar.Laptop"></bean>
   <!-- <bean id="lap" class="com.onkar.Laptop"></bean>-->
   <!-- <bean id="des" class="com.onkar.Desktop"></bean>-->
    <bean id="com" class="com.onkar.Desktop" lazy-init="true"></bean>
<!--    <bean id="com1   " class="com.onkar .Laptop" primary="true"></bean>-->
</beans>